html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr,
address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	background: #000;
	color: #999;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: georgia, Helvetica, sans-serif;
	font-size:1em;
	text-align: left;
}
a { color: white }

#wrap{
	position:absolute;
	width:96%;
	height:96%;
	padding:0 2%;
	z-index:500;
}

h1,h2{
	font-size:3em;
	padding-left:3%;
	color:rgba(200,200,40,0.1);
	text-shadow:1px 1px 10px #E6F7E1;
	text-transform:uppercase;
}
h2{
	font-size:2.4em;
	text-shadow:1px 1px 10px #9B52A3;
	position:relative;
	z-index:2000;
}

#_cursor.count,
#_cursor{
	width:20px;
	height:20px;
	border-radius:8px;
	opacity:0.7;
	background:red;
	position:absolute;
	z-index:10000;
}

#_cursor.count{
	/*color:white;
	height:44px;
	font-size:32px;
	padding: 0 10px;
	opacity:0.7;*/
}